<style type="text/css">
  body{
    background-color: #525252;
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
span{
  font-weight: 700;
}
input{
  width: 200px;
  }

</style>

<div class="container">
  
        
    
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">



         <h2 class="panel-title" align="center">Forgot your password?</h2>

        
         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>


            </div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <div class="form-group">

              <div class="field">
              <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
             </div>

  <div class="actions">
    <%= f.submit "Send me reset password " %>
  </div>
  
  <%= render "devise/shared/links" %>

<% end %>



   </div>
 </div>
</div>
</form>
</div>

