 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

 <!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  @charset "utf-8";


@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
  body{

background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.dropbtn {
  background-color: #2d98da;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:5px;
  

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #4b7bec;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.table{
      margin-top: 40px;
}
h1{
  color: white;
}
#vj{
  color: white;
  margin-top: 10px;
}

</style>
</head>
<body>

    <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
   
	         <span class="glyphicon glyphicon-user"></span>
                       <%= current_user.firstname %>
                       <%= current_user.lastname %></button>
 	
   


        <div id="myDropdown" class="dropdown-content">
      
            
              <%= link_to 'Edit profile', edit_user_registration_path, 
                    :class => ' dropdown-item ' %> 
             <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item '  %>
          
       
          
</div>
</div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<marquee id="vj" style="background-color: #3867d6;">Welcome <%= current_user.email %></marquee>
<div class="container">
 
     <h1 style="text-align: center; margin-top: 20px; ">Welcome to Dashboard</h1>
<table class="table table-condensed">

  <tr class="table-primary">
    <th>UserId</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th></th>
  </tr>
<% @users.each do |user| %>
<tr>
<td class="table-success"> <%= user.id %></td>
<td class="table-success"> <%= user.firstname %></td>
<td class="table-success"> <%= user.lastname %></td>
<td class="table-success"><%= user.email %></td>
<td class="table-success"><%= link_to 'Edit', edit_user_registration_path %> </td>
</tr>
<% end %>
</table>
 </div>
</div>
</body>
</html>




